body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.caption {
	height: 100px;
	text-overflow: ellipsis;
}

.page-header {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 1px;
}

.col-sm-4, .col-md-4, .col-xs-6, .col-lg-4 {
	position: relative;
	height: 30em;
	display: block;
	overflow: hidden;
}
img.title {
	height: 100%;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
}

.x0 {
	position: absolute; left: 2px; right: 2px; bottom: 2px; height: 68px; background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%; display: flex; align-items: center;
}

.x1 {
	flex-grow: 1; margin-left: 16px; margin-right: 0px; color: rgb(255, 255, 255); overflow: hidden;
}

.x2 {
	font-size: 16px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}

.x3{
	font-size: 12px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}